@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay-Bold;
  src: url('../public/fonts/ClashDisplay-Bold.otf');
}

@font-face {
  font-family: ClashDisplay-Extralight;
  src: url('../public/fonts/ClashDisplay-Extralight.otf');
}

@font-face {
  font-family: ClashDisplay-Semibold;
  src: url('../public/fonts/ClashDisplay-Semibold.otf');
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url('../public/fonts/ClashDisplay-Regular.otf');
}

@font-face {
  font-family: DancingScript-Bold;
  src: url('../public/fonts/DancingScript-Bold.otf');
}

@font-face {
  font-family: Humane-SemiBold;
  src: url('../public/fonts/Humane-SemiBold.woff2');
}
/**/
body{
  @apply bg-[#FFFFE3] font-ClashDisplay-Regular text-[#10100e];
}
